# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("cities.csv",index_col=0)
weather_df

,City,Country,Temperature,Humidity,Latitude,Longitude,Cloudiness,Wind Speed
0,Butaritari,KI,80.89,81,3.0707,172.7902,91,21.90
1,Albany,US,31.39,64,42.6001,-73.9662,75,12.66
2,Birmitrapur,IN,61.47,61,22.4000,84.7667,40,6.38
3,Punta Arenas,CL,57.09,41,-53.1500,-70.9167,20,19.57
4,Aswān,EG,70.03,25,24.0934,32.9070,0,10.00
...,...,...,...,...,...,...,...,...
580,Okhotsk,RU,2.26,90,59.3833,143.3000,100,8.72
581,Kohima,IN,47.88,82,25.6667,94.1167,0,2.01
582,Lompoc,US,48.43,81,34.6391,-120.4579,1,5.75
583,Ubari,LY,72.19,20,26.5921,12.7805,72,13.31
584,Sovetskiy,RU,-3.78,92,61.3614,63.5842,100,12.24

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
g_key

'AIzaSyD18tpx-NV1LPVuRd7ZsRw93Kto2n0y9FM'

In [4]:
# Store 'Lat' and 'Lng' into  locations
locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_df["Humidity"].astype(float)
cloudy = weather_df["Cloudiness"]
temp = weather_df["Temperature"]

In [5]:
# Create a humidity Heatmap layer
fig = gmaps.figure(map_type='HYBRID', center = (0.225463, 23.948749),zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=250,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#newHumid = weather_df.loc[weather_df["humidity"]<75] # get less than 75 % humidity
hotel_df = weather_df.loc[(weather_df["Humidity"]<50) & (weather_df["Cloudiness"]<25) & (weather_df["Temperature"]>70)& (weather_df["Wind Speed"]<10)]
hotel_df

,City,Country,Temperature,Humidity,Latitude,Longitude,Cloudiness,Wind Speed
136,Pijijiapan,MX,88.14,33,15.7011,-93.2300,0,6.29
194,Viedma,AR,78.01,45,-40.8135,-62.9967,0,1.01
239,Morón,AR,88.61,32,-34.6534,-58.6198,0,1.01
281,Ituporanga,BR,86.76,39,-27.4144,-49.6025,0,1.01
349,Saint-Louis,SN,80.60,39,16.3333,-15.0000,0,4.61
358,Jalingo,NG,91.87,11,8.8833,11.3667,5,5.44
379,Māngrol,IN,70.47,48,21.1167,70.1167,0,6.29
386,Wum,CM,83.32,18,6.3833,10.0667,12,4.83
391,Jardim,BR,85.42,41,-21.4803,-56.1381,0,5.84
402,Durazno,UY,78.80,44,-33.4131,-56.5006,0,6.11
427,Guaraniaçu,BR,77.32,41,-25.1008,-52.8781,0,5.95
437,Kigorobya,UG,77.18,38,1.6162,31.3089,19,1.43
461,Oeiras do Pará,BR,93.99,42,-2.0031,-49.8544,22,6.93
478,Wajir,KE,95.00,34,1.7471,40.0573,20,7.94
564,Santa Fe,AR,88.14,33,-31.6333,-60.7000,0,1.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df.insert(1, column = "Hotel Name", value = "")
hotel_df

,City,Hotel Name,Country,Temperature,Humidity,Latitude,Longitude,Cloudiness,Wind Speed
136,Pijijiapan,,MX,88.14,33,15.7011,-93.2300,0,6.29
194,Viedma,,AR,78.01,45,-40.8135,-62.9967,0,1.01
239,Morón,,AR,88.61,32,-34.6534,-58.6198,0,1.01
281,Ituporanga,,BR,86.76,39,-27.4144,-49.6025,0,1.01
349,Saint-Louis,,SN,80.60,39,16.3333,-15.0000,0,4.61
358,Jalingo,,NG,91.87,11,8.8833,11.3667,5,5.44
379,Māngrol,,IN,70.47,48,21.1167,70.1167,0,6.29
386,Wum,,CM,83.32,18,6.3833,10.0667,12,4.83
391,Jardim,,BR,85.42,41,-21.4803,-56.1381,0,5.84
402,Durazno,,UY,78.80,44,-33.4131,-56.5006,0,6.11
427,Guaraniaçu,,BR,77.32,41,-25.1008,-52.8781,0,5.95
437,Kigorobya,,UG,77.18,38,1.6162,31.3089,19,1.43
461,Oeiras do Pará,,BR,93.99,42,-2.0031,-49.8544,22,6.93
478,Wajir,,KE,95.00,34,1.7471,40.0573,20,7.94
564,Santa Fe,,AR,88.14,33,-31.6333,-60.7000,0,1.99

In [8]:
# Below is a sample from the airport ratings activityb

In [9]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

In [10]:
# Use the lat/lng we recovered to identify cities
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    #city = row["City"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing values - continue")  
    print("------------")

Retrieving Results for Index 136: Pijijiapan.
Closest hotel is Hotel San José.
------------
Retrieving Results for Index 194: Viedma.

C:\Users\langs\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Closest hotel is Hotel Austral Viedma.
------------
Retrieving Results for Index 239: Morón.
Closest hotel is The Palm House Hotel.
------------
Retrieving Results for Index 281: Ituporanga.
Closest hotel is Hotel Jacaré.
------------
Retrieving Results for Index 349: Saint-Louis.
Missing values - continue
------------
Retrieving Results for Index 358: Jalingo.
Closest hotel is Shield Hotel.
------------
Retrieving Results for Index 379: Māngrol.
Missing values - continue
------------
Retrieving Results for Index 386: Wum.
Closest hotel is Wum Council Hall.
------------
Retrieving Results for Index 391: Jardim.
Closest hotel is Vitória Hotel.
------------
Retrieving Results for Index 402: Durazno.
Closest hotel is Apart-hotel PLAZA.
------------
Retrieving Results for Index 427: Guaraniaçu.
Closest hotel is Dalla´s Hotel.
------------
Retrieving Results for Index 437: Kigorobya.
Missing values - continue
------------
Retrieving Results for Index 461: Oeiras do Pará.
Closest hotel is Araticu Soft Hotel.
------------
Retrieving Results for Index 478: Wajir.
Closest hotel is Wajir Palace Hotel.
------------
Retrieving Results for Index 564: Santa Fe.
Closest hotel is InterTower Hotel.
------------

In [11]:
hotel_df

,City,Hotel Name,Country,Temperature,Humidity,Latitude,Longitude,Cloudiness,Wind Speed
136,Pijijiapan,Hotel San José,MX,88.14,33,15.7011,-93.2300,0,6.29
194,Viedma,Hotel Austral Viedma,AR,78.01,45,-40.8135,-62.9967,0,1.01
239,Morón,The Palm House Hotel,AR,88.61,32,-34.6534,-58.6198,0,1.01
281,Ituporanga,Hotel Jacaré,BR,86.76,39,-27.4144,-49.6025,0,1.01
349,Saint-Louis,,SN,80.60,39,16.3333,-15.0000,0,4.61
358,Jalingo,Shield Hotel,NG,91.87,11,8.8833,11.3667,5,5.44
379,Māngrol,,IN,70.47,48,21.1167,70.1167,0,6.29
386,Wum,Wum Council Hall,CM,83.32,18,6.3833,10.0667,12,4.83
391,Jardim,Vitória Hotel,BR,85.42,41,-21.4803,-56.1381,0,5.84
402,Durazno,Apart-hotel PLAZA,UY,78.80,44,-33.4131,-56.5006,0,6.11
427,Guaraniaçu,Dalla´s Hotel,BR,77.32,41,-25.1008,-52.8781,0,5.95
437,Kigorobya,,UG,77.18,38,1.6162,31.3089,19,1.43
461,Oeiras do Pará,Araticu Soft Hotel,BR,93.99,42,-2.0031,-49.8544,22,6.93
478,Wajir,Wajir Palace Hotel,KE,95.00,34,1.7471,40.0573,20,7.94
564,Santa Fe,InterTower Hotel,AR,88.14,33,-31.6333,-60.7000,0,1.99

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]
markers = gmaps.marker_layer(locations)

In [13]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)

# Display figure
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))